@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);

body {
background: url(http://s.cdpn.io/3/blurry-blue.jpg);;
font-family: perpetua,sans-serif;
font-size: 18px;
color:#333;
margin:10px;
padding:10px;
}
 
#wrapper {
width:1030px;
background-color: #FFFFCC;
margin:20px auto;
border-left:10px solid #ccc;
border-right:10px solid #ccc;
height: 1000px;
}

#header {
width:1030px;
height:135px;
margin:10px auto;
margin-bottom:25px;
border-bottom:10px solid #ccc;
border-top:10px solid #ccc;
font-family: 'Cinzel Decorative', cursive;
}

#header h2 {
padding:10px;
font-family: 'Cinzel Decorative', cursive;
}

#header h3 {
padding:10px;
font-family: 'Cinzel Decorative', cursive;
}

#nav {
width:1030px;
height:40px;
border-bottom:10px solid #ccc;
font-family: 'Cinzel Decorative', cursive;
}

#nav a {
padding:10px;
text-decoration:none;
background-color:#f1f1f1;
font-family: 'Cinzel Decorative', cursive;

}

#nav a:hover {
background-color: #9999FF;
height:80px;
}

#content {
width:675px;
float:left;
padding:10px;
}

#sidebar {
width:210px;
float:right;
margin-bottom:25px;
}

#sidebar a {
text-decoration:none;
font-family: 'Cinzel Decorative', cursive;


}

#sidebar li {
list-style:none;
}

#footer {
clear:both;
width:1030px;
height:135px;
border-top:10px solid #ccc;
}

#footer p {
padding:10px;
}